__pycache__/
Unused/

*.log
*.zip
*.npy
*.gif

checkpoints/
thesis_venv/
predict/
latent/
latent_evolution/
'latent_evolution v1/'
visualization/
wandb/
mesh_vis/
dataset/latent_train.pt
dataset/latent_test.pt
