__pycache__/
Unused/

*.log
*.zip
*.npy
*.gif

checkpoints/
!checkpoints/best/
!checkpoints/best/**
!checkpoints/test_embedding_evo/
!checkpoints/test_embedding_evo/**
!checkpoints/test_embedding_evo_cosine/
!checkpoints/test_embedding_evo_cosine/**
!checkpoints/test_embedding_evo_triplet/
!checkpoints/test_embedding_evo_triplet/**
!checkpoints/test_embedding_evo_all/
!checkpoints/test_embedding_evo_all/**
thesis_venv/
predict/
latent/
latent_evolution/
'latent_evolution v1/'
visualization/
wandb/
mesh_vis/
