__pycache__/
Unused/

*.log
*.zip
*.npy
*.gif

!checkpoints/best/
!checkpoints/best/*
!checkpoints/best/*/*.pt
!checkpoints/test_embedding_evo/
!checkpoints/test_embedding_evo/*
!checkpoints/test_embedding_evo/*/*.pt
!checkpoints/test_embedding_evo_cosine/
!checkpoints/test_embedding_evo_cosine/*
!checkpoints/test_embedding_evo_cosine/*/*.pt
!checkpoints/test_embedding_evo_triplet/
!checkpoints/test_embedding_evo_triplet/*
!checkpoints/test_embedding_evo_triplet/*/*.pt
!checkpoints/test_embedding_evo_all/
!checkpoints/test_embedding_evo_all/*
!checkpoints/test_embedding_evo_all/*/*.pt
thesis_venv/
predict/
latent/
latent_evolution/
'latent_evolution v1/'
checkpoints/
visualization/
wandb/
mesh_vis/
